<html>
	<head>
		<title>Face Flag</title>
		<style>
			body {
				margin: 0 auto;
				width: 500px;
				text-align: center;
			}

			#profile, img {
				width: 300px;
				height: 300px;
			}

			#profile {
				position: relative;
				background-image: url('');
				background-size: contain;
				margin: 0 auto;
			}

			#filter {
				opacity: 0.6;
			}

			canvas {
				position: absolute;
				top: 400;
				left: 0;
			}

			a {
				display: block;
				visibility: hidden;
			}
		</style>
	</head>
	<body>
		<h2>Face Flag</h2>
		<h4>Add a national flag to your profile photo</h4>
		<div id="profile">
			<img id="filter" src="/images/leb-fra-filter.png">
		</div>
		<input type="file" onchange="ff.addProfileImage(this)">
		<a id="download">Download Image</a>
		<script type="text/javascript" src="/js/html2canvas.min.js"></script>
		<script>
			var ff = new FaceFlag();

			function FaceFlag(){
				this.profileImgSrc = '';
				this.profileEl = '';
				this.linkEl = '';
			}

			FaceFlag.prototype.generateImage = function(){
				html2canvas(ff.profileEl, {
					onrendered: function(canvas){
						ff.linkEl.href = canvas.toDataURL();
						ff.linkEl.download = 'profile.png';
						ff.linkEl.style.visibility = 'initial';
					},
					width: 300,
					height: 300
				});
			}

			FaceFlag.prototype.addProfileImage = function(input){
				if (input && input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = onload;
					reader.readAsDataURL(input.files[0]);

					function onload(e){
						ff.profileImgSrc = e.target.result;
						ff.profileEl.style.backgroundImage = 'url(' + e.target.result + ')';
						ff.generateImage();
					}
				}
			}

			FaceFlag.prototype.addFilter = function(){

			}

			window.onload = function(){
				ff.profileEl = document.getElementById('profile');
				ff.linkEl = document.getElementById('download');
			}
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-70376501-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</body>
</html>